*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.flex1 {
  display: flex;
}

.static-column {
  position: absolute;
  background-color: teal;
  width: 20%;
  height: 216.2%;
  padding-left: 15px;
  padding-top: 15px;
}

.logo{
    position: fixed;
}

.midcolumn {
  flex: 1;
  width: 20%;
  background-color: aqua;
  align-self: center;
  padding-left: 23%;
  padding-right: 20px;
  padding-top: 15px;
}

.endcolumn {
  width: 25%;
  background-color:aquamarine;
  padding-left: 15px;
  padding-top: 15px;
}
