* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: #e7e5e0;
}

.flex1 {
  display: flex;
}

.static-column {
  position: fixed;
  background-color: #5b8990;
  width: 20%;
  height: 216.2%;
  padding-left: 15px;
  padding-top: 15px;
}

.logo {
  position: fixed;
}

.menu {
  position: fixed;
  padding-top: 20%;
  padding-left: 5%;
}

button {
  display: block;
  border-radius: 4.5px;
  padding: 7px;
  margin: 7px;
  background-color: #5b8990;
  color: white;
  font-family: "Abel", sans-serif;
  font-size: large;
  cursor: pointer;
}

button:hover {
  background-color: #133745;
}

.midcolumn {
  flex: 1;
  width: 20%;
  align-self: center;
  padding-left: 23%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200%;
}

p {
  font-family: "Abel", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-right: 20px;
}

.grid-item {
  background-color: #e7e5e0;
  border: 1px solid black;
  padding: -20px;
  margin: 5px;
  text-align: center;
  font-family: "Abel", sans-serif;
}

.product{
    width: 40%;
    height: auto;
}
