*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body{
    background-color: #E7E5E0;
}

.flex1 {
  display: flex;
}

.static-column {
  position: absolute;
  background-color: #5B8990;
  width: 20%;
  height: 216.2%;
  padding-left: 15px;
  padding-top: 15px;
}

.logo{
    position: fixed;
}

.menu{
    display: flex;
    position: fixed;
    padding-top: 20%;
}

button{
    border-radius: 4.5px;
    height: 35px;
    width: 40%;
    background-color: #133745;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: large;
    cursor: pointer;

}

.midcolumn {
  flex: 1;
  width: 20%;
  align-self: center;
  padding-left: 23%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200%;
}

p{
    font-family: 'Abel', sans-serif;
}
